@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bigilla';
  src: url('/fonts/Bigilla.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bigilla';
  src: url('/fonts/Bigilla-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
}

